
 /*
      *color
      *bg-color
      *text-align
      *width
      *border-collapse
      *margin,border,padding,
      *display:inline block
      *display
      *padding 
      *font-family
      *margin(0 auto) table center
      *font weight
      *baground url(image location)
*/ 
*{
    font-family: Verdana, Geneva, Tahoma;
    text-align: center;
}
html,body{
    color: aqua;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-image: url('bgpic.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
h1{
    background-color: rgb(151, 224, 82);
    text-align: center;
    color: #000;
}
h2{
    text-align: center;
    color: rgba(12, 224, 224, 0.692);
}
nav ul{
    margin-left: 20px ;
    border: solid 2px #19c4e2;
    display: flex;
    border-radius: 15px 0px 15px 0px;
    width: 95vw;
    padding: 10px 10px;
    justify-content: center;
    list-style: none;   
}
ul li a{
    text-decoration: none;
    padding:0px 25px;
    color: rgb(131, 191, 206);
}
.hidemsg{
    display: inline-block;
}
.table1{
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid c #000;
}
th,td{
    border: 1px solid black;
    padding:4px 8px;

}
.table1 caption{
    font-weight: 700;
    padding-bottom: 10px;
}
